{% load staticfiles %}

<!DOCTYPE html>
<html>

<head lang="es">
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bases.css' %}">
</head>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "base" %}">Base</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "cliente_listar" %}">Cliente<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url "cliente-foto2" %}">contacto</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "cliente_crear" %}">cliente crear</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<!-- <div class="container">

<div class="header"><a ref="#"><img src="" alt="Insertar logo" name="Insertar_logo" width="180" height="90" id="Insert_logo" style="background-color: #9F6D40; display:block;" /></a>
    <h1>Clientes: </h1>
    <ul class="ul">
        <li>
            <a href="{% url 'cliente-list' %}">Listado de Clientes</a>
        </li>
        <li>
            <a href="{% url 'cliente_crear' %}">Crear un Cliente</a>
        </li>
        <li>
            <a href="{% url 'contactomail' %}">Enviar un Mail</a>
       </li>
       <li>
            <a href="{% url 'cliente_listar' %}">Listado de Clientes 2</a>
        </li>
    </ul>

    <hr>
 end .header </div>
-->

    <div class="container">
        {% block section %}
        {% endblock section %}
<!-- end .content --></div>

    <div class="container">
        {% block maincontent %}
        {% endblock maincontent %}
<!-- end .detalle --></div>
    <div class="container">
        {% block footer %}
        {% endblock footer %}
<!-- end .footer --></div>        

<!-- end .conteiner --></div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>